<div class='bigheading-whitediv'>
	<div class='bigheading-whiteinnerdiv'>
		<div class='bigheading-whiteleftlogodiv'>
			<img src='images/logo.png' class='bigheading-whiteleftlogo'>
		</div>
		<div class='bigheading-whiterightdiv'>
			<p class='bigheading-whiterighttxt'> Thanks for visiting our website </p>
		</div>
	</div>
</div>
<div class='headingdiv'>
	<div class='heading-innerdiv'>
		<a href='./' class='heading-innerlink'>	Sale </a>
		<a href='./additem' class='heading-innerlink'>	Add item </a>
		<a href='./editproduct' class='heading-innerlink'>	Edit item </a>
		<a href='./deleteproduct' class='heading-innerlink'>	Delete item </a>
	</div>
</div>