<html>
	<head>
		<link href="css/stylecss.css" rel="stylesheet" type="text/css" media="all">
	</head>
	<body>
		<div class='fulldiv'>
				<!-- Header code -->
			<div class='bigheading-whitediv'>
				<div class='bigheading-whiteinnerdiv'>
					<div class='bigheading-whiteleftlogodiv'>
						<img src='images/logo.png' class='bigheading-whiteleftlogo'>
					</div>
					<div class='bigheading-whiterightdiv'>
						<p class='bigheading-whiterighttxt'> Thanks for visiting our website </p>
					</div>
				</div>
			</div>
			<div class='headingdiv'>
				<div class='heading-innerdiv'>
					<a href='' class='heading-innerlinkactive'>	Sale </a>
					<a href='' class='heading-innerlink'>	Add item </a>
					<a href='' class='heading-innerlink'>	Edit item </a>
					<a href='' class='heading-innerlink'>	Delete item </a>
				</div>
			</div>
				<!-- Header code -->
				<!-- Show all product -->
			<div class='allproductdiv'>
				<div class='allproduct-innerdiv'>
					
					<div class='productmaindiv'>
						<img src='images/feature-pic1.jpg' class='productmain-pic'>
						<div class='productmain-detaildiv'>
							<p class='productmain-txt'> Product 1 </p>
						</div>
						<div class='productmain-pricediv'>
							<p class='productmain-pricetxt'> $200 </p>
						</div>
						<a href='' class='productmain-buybtn'>
							Edit 
						</a>
					</div>
					<div class='productmaindiv'>
						<img src='images/feature-pic1.jpg' class='productmain-pic'>
						<div class='productmain-detaildiv'>
							<p class='productmain-txt'> Product 2 </p>
						</div>
						<div class='productmain-pricediv'>
							<p class='productmain-pricetxt'> $200 </p>
						</div>
						<a href='' class='productmain-buybtn'>
							Edit 
						</a>
					</div>
					<div class='productmaindiv'>
						<img src='images/feature-pic1.jpg' class='productmain-pic'>
						<div class='productmain-detaildiv'>
							<p class='productmain-txt'> Product 3 </p>
						</div>
						<div class='productmain-pricediv'>
							<p class='productmain-pricetxt'> $200 </p>
						</div>
						<a href='' class='productmain-buybtn'>
							Edit 
						</a>
					</div>
					<div class='productmaindiv'>
						<img src='images/feature-pic1.jpg' class='productmain-pic'>
						<div class='productmain-detaildiv'>
							<p class='productmain-txt'> Product 4 </p>
						</div>
						<div class='productmain-pricediv'>
							<p class='productmain-pricetxt'> $200 </p>
						</div>
						<a href='' class='productmain-buybtn'>
							Edit 
						</a>
					</div>
					<div class='productmaindiv'>
						<img src='images/feature-pic1.jpg' class='productmain-pic'>
						<div class='productmain-detaildiv'>
							<p class='productmain-txt'> Product 5 </p>
						</div>
						<div class='productmain-pricediv'>
							<p class='productmain-pricetxt'> $200 </p>
						</div>
						<a href='' class='productmain-buybtn'>
							Edit 
						</a>
					</div>
					<div class='productmaindiv'>
						<img src='images/feature-pic1.jpg' class='productmain-pic'>
						<div class='productmain-detaildiv'>
							<p class='productmain-txt'> Product 6 </p>
						</div>
						<div class='productmain-pricediv'>
							<p class='productmain-pricetxt'> $200 </p>
						</div>
						<a href='' class='productmain-buybtn'>
							Edit 
						</a>
					</div>
					<div class='productmaindiv'>
						<img src='images/feature-pic1.jpg' class='productmain-pic'>
						<div class='productmain-detaildiv'>
							<p class='productmain-txt'> Product 7 </p>
						</div>
						<div class='productmain-pricediv'>
							<p class='productmain-pricetxt'> $200 </p>
						</div>
						<a href='' class='productmain-buybtn'>
							Edit 
						</a>
					</div>
					<div class='productmaindiv'>
						<img src='images/feature-pic1.jpg' class='productmain-pic'>
						<div class='productmain-detaildiv'>
							<p class='productmain-txt'> Product 8 </p>
						</div>
						<div class='productmain-pricediv'>
							<p class='productmain-pricetxt'> $200 </p>
						</div>
						<a href='' class='productmain-buybtn'>
							Edit 
						</a>
					</div>
					
				</div>
			</div>	
				<!-- Show all product -->
				<!-- Footer code -->
			<div class='footerdiv'>
			</div>
				<!-- Footer code -->
		</div>
	</body>
</html>