<html>
<head>
	<link href="css/stylecss.css" rel="stylesheet" type="text/css" media="all">
</head>
<body>
<div class='fulldiv'>
		
		// calling Header
			include /header
			
			
	<div class='allproductdiv'>
		<div class='allproduct-innerdiv'>
			
			<div class='productmaindiv'>
				<img src='images/feature-pic1.jpg' class='productmain-pic'>
				<div class='productmain-detaildiv'>
					<p class='productmain-txt'> Product 1 </p>
				</div>
				<div class='productmain-pricediv'>
					<p class='productmain-pricetxt'> $200 </p>
				</div>
				<button class='productmain-buybtn'>
					Buy 
				</button>
			</div>
			<div class='productmaindiv'>
				<img src='images/feature-pic1.jpg' class='productmain-pic'>
				<div class='productmain-detaildiv'>
					<p class='productmain-txt'> Product 2 </p>
				</div>
				<div class='productmain-pricediv'>
					<p class='productmain-pricetxt'> $200 </p>
				</div>
				<button class='productmain-buybtn'>
					Buy 
				</button>
			</div>
			<div class='productmaindiv'>
				<img src='images/feature-pic1.jpg' class='productmain-pic'>
				<div class='productmain-detaildiv'>
					<p class='productmain-txt'> Product 3 </p>
				</div>
				<div class='productmain-pricediv'>
					<p class='productmain-pricetxt'> $200 </p>
				</div>
				<button class='productmain-buybtn'>
					Buy 
				</button>
			</div>
			<div class='productmaindiv'>
				<img src='images/feature-pic1.jpg' class='productmain-pic'>
				<div class='productmain-detaildiv'>
					<p class='productmain-txt'> Product 4 </p>
				</div>
				<div class='productmain-pricediv'>
					<p class='productmain-pricetxt'> $200 </p>
				</div>
				<button class='productmain-buybtn'>
					Buy 
				</button>
			</div>
			<div class='productmaindiv'>
				<img src='images/feature-pic1.jpg' class='productmain-pic'>
				<div class='productmain-detaildiv'>
					<p class='productmain-txt'> Product 5 </p>
				</div>
				<div class='productmain-pricediv'>
					<p class='productmain-pricetxt'> $200 </p>
				</div>
				<button class='productmain-buybtn'>
					Buy 
				</button>
			</div>
			<div class='productmaindiv'>
				<img src='images/feature-pic1.jpg' class='productmain-pic'>
				<div class='productmain-detaildiv'>
					<p class='productmain-txt'> Product 6 </p>
				</div>
				<div class='productmain-pricediv'>
					<p class='productmain-pricetxt'> $200 </p>
				</div>
				<button class='productmain-buybtn'>
					Buy 
				</button>
			</div>
			<div class='productmaindiv'>
				<img src='images/feature-pic1.jpg' class='productmain-pic'>
				<div class='productmain-detaildiv'>
					<p class='productmain-txt'> Product 7 </p>
				</div>
				<div class='productmain-pricediv'>
					<p class='productmain-pricetxt'> $200 </p>
				</div>
				<button class='productmain-buybtn'>
					Buy 
				</button>
			</div>
			<div class='productmaindiv'>
				<img src='images/feature-pic1.jpg' class='productmain-pic'>
				<div class='productmain-detaildiv'>
					<p class='productmain-txt'> Product 8 </p>
				</div>
				<div class='productmain-pricediv'>
					<p class='productmain-pricetxt'> $200 </p>
				</div>
				<button class='productmain-buybtn'>
					Buy 
				</button>
			</div>
			
		</div>
	</div>	
		// calling Footer
			include /footer	
</div>
</body>
</html>